
<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
        }
        
    </style>
</head>
<body>
    <h1>404</h1>
    <h2>page is not found</h2>
    <img src="../Image/404.png" alt="" width="500px">

</body>
</html>
