.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-size: cover; 
  background-color: white;
}

.quotations {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap; 
}

.quotation {
  font-size: 1.5em;
  color: black;
  width: 45%;
  text-align: center;
  margin: 10px; 
}


@media (max-width: 768px) {
  .quotation {
      width: 100%; 
  }

  .App {
      padding: 10px;
      background-size: contain;
  }
}
